.button
{
    -fx-background-color: #3F2B63;
}


.button:hover
{
    -fx-background-color:  #7156DD ;
}

.tab {

    -fx-font-size: 20;
    -fx-pref-width: 330;
    -fx-background-color:#7156DD

}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 330;

}

.tab-label{

    -fx-text-fill: #ffffff;

}


.tab-pane{
    -fx-padding: 0 -1 -1 -1
}
.tab-pane .tab:selected
{
    -fx-background-color: #7d49a8;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-color: #a064d9
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #ffffff;
}

.spinner {
    -fx-border-color: #a064d9;
}

.text-field {
    -fx-border-color: #a064d9;
}


